/** @format */

.icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.15em;
  fill: currentcolor;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.bg-white {
  background: #fff;
}

.h100 {
  height: 100%;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
